<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>include::Thymeleaf</title>
</head>
<body>
  <!-- ############# -->
  <!--/* 前端常量数据 */-->
  <!-- ############# -->
  <th:block th:fragment="data">
    <script type="text/javascript" th:src="@{/js/data/nav-menus.js?_t=#buildtime#}"></script>
  </th:block>

  <!-- ################## -->
  <!--/* kaTex 公式渲染库 */-->
  <!-- ##################-->
  <th:block th:fragment="katex">
    <link rel="stylesheet" th:href="@{/js/lib/katex/katex.min.css}">
    <script type="text/javascript" th:src="@{/js/lib/katex/katex.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/lib/katex/auto-render.min.js}"></script>
  </th:block>

  <!-- ################## -->
  <!--/* 共用Meta与Title */-->
  <!-- ################## -->
  <th:block th:fragment="htitle(title)">
    <title th:if="${!#strings.isEmpty(title)}" th:text="#{${title}} + ' - ' + ${#site.title()}"></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="expires" content="0">

    <script type="text/javascript">
      const ctx = '[[@{/}]]';
      const _v = '#buildtime#';
      let _t = Math.round(Math.random() * 1000);
    </script>
  </th:block>

  <!-- ################### -->
  <!--/* 本系统封装的JS类库 */-->
  <!-- ################### -->
  <th:block th:fragment="sysjslib">
    <script type="text/javascript" th:src="@{/js/base.js?_t=#buildtime#}"></script>
    <script type="text/javascript" th:src="@{/js/ajax.js?_t=#buildtime#}"></script>
    <script type="text/javascript" th:src="@{/js/common.js?_t=#buildtime#}"></script>
    <script type="text/javascript" th:src="@{/js/framework.js?_t=#buildtime#}"></script>
    <script type="text/javascript" th:src="@{/assets/lang/{lang}.js?_t=#buildtime#(lang=${#locale.toLanguageTag()})}"></script>
  </th:block>

  <!-- ##################### -->
  <!--/* 共用JS与CSS（Base） */-->
  <!-- ##################### -->
  <th:block th:fragment="scriptcss_base(title)">
    <th:block th:replace="~{:: htitle(${title})}"/>

    <!-- 全局CSS样式 -->
    <link rel="stylesheet" th:href="@{/css/materialdesignicons.min.css?_t=#buildtime#}">
    <link rel="stylesheet" th:href="@{/css/scrollbar.css?_t=#buildtime#}">
    <link rel="stylesheet" th:href="@{/css/vuetify.min.css?_t=#buildtime#}">
    <link rel="stylesheet" th:href="@{/css/vue3-snackbar.min.css?_t=#buildtime#}">
    <link rel="stylesheet" th:href="@{/css/vuetify-theme.css?_t=#buildtime#}">
    <link rel="stylesheet" th:href="@{/css/style.css?_t=#buildtime#}">

    <!-- 全局JS类库 -->
    <script type="text/javascript" th:src="@{/js/lib/screenfull.js?_t=#buildtime#}"></script>
    <script type="text/javascript" th:src="@{/js/lib/vue.global.prod.js?_t=#buildtime#}"></script>
    <script type="text/javascript" th:src="@{/js/lib/vuetify.min.js?_t=#buildtime#}"></script>
    <script type="text/javascript" th:src="@{/js/lib/vue-cookies.js?_t=#buildtime#}"></script>
    <script type="text/javascript" th:src="@{/js/lib/vue-i18n.global.prod.js?_t=#buildtime#}"></script>
    <script type="text/javascript" th:src="@{/js/lib/vue3-snackbar.iife.js?_t=#buildtime#}"></script>
    <script type="text/javascript" th:src="@{/js/lib/axios.min.js?_t=#buildtime#}"></script>
    <script type="text/javascript" th:src="@{/js/lib/qs.min.js?_t=#buildtime#}"></script>
  </th:block>

  <!-- #################### -->
  <!--/* 共用JS与CSS（标准） */-->
  <!-- #################### -->
  <th:block th:fragment="scriptcss(title)">
    <th:block th:replace="~{:: scriptcss_base(${title})}"/>
    <th:block th:replace="~{:: sysjslib}"/>
  </th:block>

  <!-- ############################# -->
  <!--/* 共用JS与CSS（含Form验证框架） */-->
  <!-- ############################# -->
  <th:block th:fragment="scriptcss_form(title)">
    <th:block th:replace="~{:: scriptcss_base(${title})}"/>
    <script type="text/javascript" th:src="@{/js/lib/vee-validate/vee-validate.iife.prod.js?_t=#buildtime#}"></script>
    <script type="text/javascript" th:src="@{/js/lib/vee-validate/vee-validate-rules.iife.min.js?_t=#buildtime#}"></script>
    <th:block th:replace="~{:: sysjslib}"/>
  </th:block>

  <!-- #################################################### -->
  <!--/* 共用JS与CSS（含Form验证框架、FluentEditor富文本编辑器） */-->
  <!-- #################################################### -->
  <th:block th:fragment="scriptcss_form_editor(title)">
    <link rel="stylesheet" th:href="@{/js/lib/fluent-editor/fluent-editor.min.css}"/>
    <script type="text/javascript" th:src="@{/js/lib/lodash.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/lib/fluent-editor/fluent-editor.umd.js}"></script>
    <script type="text/javascript" th:src="@{/js/lib/fluent-editor/editor.config.js}"></script>
    <th:block th:replace="~{:: scriptcss_form(${title})}"/>
  </th:block>

  <!-- #################### -->
  <!--/* 共用JS与CSS（默认） */-->
  <!-- #################### -->
  <th:block th:fragment="scriptcss_default(title)">
    <th:block th:replace="~{:: scriptcss_form(${title})}"/>
  </th:block>

  <!-- ########### -->
  <!--/* 系统页眉 */-->
  <!-- ########### -->
  <th:block th:fragment="header">
    <!-- 切换左侧导航菜单的显示方式 -->
    <v-app-bar-nav-icon th:if="${vadmin}" @click.stop="toggleSysMenu"></v-app-bar-nav-icon>

    <!-- 产品名称 -->
    <v-subheader class="text-h6 font-weight-bold text-truncate pl-md-2" @dblclick="clearAllToast">
      <v-btn th:if="${true == back}" icon small depressed class="mr-2" @click="back">
        <v-icon>mdi-arrow-left</v-icon>
      </v-btn>
      {{$t('productName')}}
    </v-subheader>

    <v-spacer></v-spacer>
    <v-chip-group th:if="${vadmin}" mandatory selected-class="text-primary" v-model="stage">
      <v-chip
          filter
          variant="text"
          size="x-large"
          v-for="item in stageList"
          :value="item.value"
          :text="$t(item.title)"
      >
      </v-chip>
    </v-chip-group>
    <v-spacer></v-spacer>

    <!--/* 语言列表 */-->
    <v-menu open-on-hover z-index="1009">
      <template v-slot:activator="{ props }">
        <v-btn v-bind="props" icon variant="text">
          <v-icon>mdi-translate</v-icon>
          <v-icon>mdi-chevron-down</v-icon>
        </v-btn>
      </template>
      <v-list :selected="lang?[lang]:[]" @update:selected="(selection)=>lang=selection[0]" mandatory :items="langList" item-title="text" item-value="value" color="primary"></v-list>
    </v-menu>

    <!-- 主题切换按钮 -->
    <v-menu transition="slide-y-transition" z-index="1008">
      <template v-slot:activator="{ props }">
        <v-btn v-bind="props" icon variant="text">
          <v-icon>mdi-theme-light-dark</v-icon>
          <v-tooltip activator="parent" location="bottom" style="z-index:7">{{$t('主题切换')}}</v-tooltip>
        </v-btn>
      </template>
      <v-list :selected="vtheme?[vtheme]:[]" @update:selected="switchTheme" mandatory color="primary">
        <v-list-item v-for="(item, i) in [{value:'light',title:$t('浅色主题'),icon:'mdi-white-balance-sunny'},{value:'dark',title:$t('深色主题'),icon:'mdi-weather-night'}]" :key="i" :value="item.value">
          <v-list-item-title><v-icon :icon="item.icon"></v-icon>{{item.title}}</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>

    <!-- 设置按钮 -->
    <v-btn th:unless="${vadmin}" icon="mdi-cog-outline" v-tooltip:bottom="$t('设置')" th:href="@{/adm/index}"></v-btn>

    <!-- 返回前端的按钮 -->
    <v-btn th:if="${vadmin}" icon="mdi-arrow-left-top-bold" v-tooltip:bottom="$t('返回')" th:href="@{/index}"></v-btn>

    <!-- Toast占位符 -->
    <vue3-snackbar top dense groups></vue3-snackbar>
  </th:block>

  <!-- ############## -->
  <!--/* 系统导航菜单 */-->
  <!-- ############## -->
  <th:block th:fragment="navMenu">
    <v-navigation-drawer theme="dark" v-model="sysNavStatus" :rail="sysRailStatus" :expand-on-hover="sysRailStatus" class="opacity-90" :class="{'bg-nav-light':!vdark}">
      <!-- 导航菜单 -->
      <v-list nav :opened="openMenus" open-strategy="single" class="mb-12">
        <template v-for="item in navMenus">
          <!-- 不含子菜单的 -->
          <v-list-item
              :key="item.menuId"
              :href="item.url"
              :target="item.target"
              :prepend-icon="item.icon"
              active-class="bg-light-blue"
              v-model:active="item.selected"
              @click="gotoPage(item, $event)"
              v-if="!item.children || item.children.length === 0"
          >
            <v-list-item-title>{{$t(item.menuName)}}</v-list-item-title>
          </v-list-item>

          <!-- 含子菜单的 -->
          <v-list-group
              :key="item.menuId"
              :value="item.menuId"
              v-else
          >
            <template v-slot:activator="{ props, isOpen }">
              <v-list-item
                  v-bind="props"
                  :prepend-icon="item.icon"
                  :title="$t(item.menuName)"
                  :active="isOpen"
                  color="primary"
              ></v-list-item>
            </template>
            <v-list-item
                v-for="child in item.children"
                :key="child.menuId"
                :title="$t(child.menuName)"
                :href="child.url"
                :target="child.target"
                active-class="bg-light-blue"
                :active="child.selected && !deactiveMenu"
                @click="gotoPage(child, $event)"
            ></v-list-item>
          </v-list-group>
        </template>
      </v-list>
    </v-navigation-drawer>
  </th:block>
</body>
</html>