<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ty.logic.rs.dao.RsBookDao">

    <!-- 关系映射 -->
    <resultMap id="RsBookMap" type="RsBook">
        <result property="bid" column="bid" />
        <result property="bname" column="bname" />
        <result property="stage" column="stage" />
        <result property="subject" column="subject" />
        <result property="edition" column="edition" />
        <result property="editionTitle" column="edition_title" />
        <result property="remark" column="remark" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
    </resultMap>

    <!-- 查询条件 -->
    <sql id="condition_rsBook">
        <where>
            <if test="bid != null">
                and t.bid=#{bid}
            </if>
            <if test="bname != null and bname != ''">
                and t.bname like '%' || #{bname} || '%' ESCAPE '\'
            </if>
            <if test="stage != null and stage != ''">
                and t.stage=#{stage}
            </if>
            <if test="subject != null and subject != ''">
                and t.subject=#{subject}
            </if>
        </where>
    </sql>

    <!-- 查询记录数 -->
    <select id="findRsBookCount" parameterType="RsBook" resultType="java.lang.Integer">
        SELECT count(0) FROM t_rs_book t
        <include refid="condition_rsBook" />
    </select>

    <!-- 查询结果集 -->
    <select id="findRsBook" parameterType="RsBook" resultMap="RsBookMap">
        SELECT
            t.bid,
            t.bname,
            t.stage,
            t.subject,
            t.edition,
            t.edition_title,
            t.remark,
            t.create_time,
            t.update_time
        FROM
            t_rs_book t
        <include refid="condition_rsBook" />
    </select>

    <!-- 根据ID查询记录 -->
    <select id="findRsBookById" parameterType="java.lang.Integer" resultMap="RsBookMap">
        SELECT
            t.bid,
            t.bname,
            t.stage,
            t.subject,
            t.edition,
            t.edition_title,
            t.remark,
            t.create_time,
            t.update_time
        FROM
            t_rs_book t
        WHERE t.bid = #{bid}
    </select>

    <!-- 保存 -->
    <insert id="saveRsBook" parameterType="RsBook">
        INSERT INTO t_rs_book
        (
        <trim suffix="" suffixOverrides=",">
            <if test="bid != null">bid,</if>
            <if test="bname != null">bname,</if>
            <if test="stage != null">stage,</if>
            <if test="subject != null">subject,</if>
            <if test="edition != null">edition,</if>
            <if test="editionTitle != null">edition_title,</if>
            <if test="remark != null">remark,</if>
            create_time,
            update_time,
        </trim>
        )
        VALUES
        (
        <trim suffix="" suffixOverrides=",">
            <if test="bid != null">#{bid},</if>
            <if test="bname != null">#{bname},</if>
            <if test="stage != null">#{stage},</if>
            <if test="subject != null">#{subject},</if>
            <if test="edition != null">#{edition},</if>
            <if test="editionTitle != null">#{editionTitle},</if>
            <if test="remark != null">#{remark},</if>
            #{createTime},
            #{updateTime}
        </trim>
        )
    </insert>

    <!-- 修改 -->
    <update id="updateRsBook" parameterType="RsBook">
        UPDATE t_rs_book
        <set>
            <if test="bid != null">bid=#{bid},</if>
            <if test="bname != null">bname=#{bname},</if>
            <if test="stage != null">stage=#{stage},</if>
            <if test="subject != null">subject=#{subject},</if>
            <if test="edition != null">edition=#{edition},</if>
            <if test="editionTitle != null">edition_title=#{editionTitle},</if>
            <if test="remark != null">remark=#{remark},</if>
            update_time=#{updateTime}
        </set>
        WHERE bid = #{bid}
    </update>

    <!-- 删除 -->
    <delete id="delRsBook" parameterType="java.lang.Integer">
        DELETE FROM t_rs_book WHERE bid = #{bid}
    </delete>
</mapper>
