<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ty.logic.rs.dao.RsQueRefKnowledgeDao">

    <!-- 关系映射 -->
    <resultMap id="RsQueRefKnowledgeMap" type="RsQueRefKnowledge">
        <result property="qid" column="qid" />
        <result property="kid" column="kid" />
        <result property="kname" column="kname" />
    </resultMap>

    <!-- 查询结果集 -->
    <select id="findRsQueRefKnowledge" parameterType="java.lang.Integer" resultMap="RsQueRefKnowledgeMap">
        SELECT
            t.qid,
            t.kid
        FROM
            t_rs_que_ref_knowledge t
        WHERE
            t.qid=#{qid}
    </select>

    <!-- 查询更详细的结果集 -->
    <select id="findFullRsQueRefKnowledge" parameterType="java.util.Set" resultMap="RsQueRefKnowledgeMap">
        SELECT
            t1.qid, t1.kid, t2.kname
        FROM
            t_rs_que_ref_knowledge t1 INNER JOIN t_rs_knowledge t2 ON t1.kid = t2.kid
        WHERE
            t1.qid IN
        <foreach collection="qids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <!-- 批量保存 -->
    <insert id="saveMultiRsQueRefKnowledge" parameterType="java.util.List">
        INSERT INTO t_rs_que_ref_knowledge(qid, kid)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.qid}, #{item.kid})
        </foreach>
    </insert>

    <!-- 删除 -->
    <delete id="delRsQueRefKnowledge" parameterType="java.lang.Integer">
        DELETE FROM t_rs_que_ref_knowledge WHERE qid = #{qid}
    </delete>
</mapper>
