<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <!--/* 前端数据 */-->
  <th:block th:replace="~{assets/include :: data}"/>
  <!--/* 共用JS与CSS */-->
  <th:block th:replace="~{assets/include :: scriptcss_default('教材管理')}"/>
</head>
<body>
  <div id="app" v-cloak>
    <v-app class="v-admin">
      <!-- 顶部功能区 -->
      <v-app-bar flat>
        <th:block th:replace="~{assets/include :: header(vadmin=true)}"/>
      </v-app-bar>

      <!-- 左侧区域::导航菜单 -->
      <th:block th:replace="~{assets/include :: navMenu}"/>

      <!-- 主体部分 -->
      <v-main>
        <!-- 主体容器 -->
        <v-container fluid>
          <v-sheet class="rounded-0 px-6 py-3">
            <!-- 查询条件 -->
            <v-form ref="queryForm" class="assist">
              <v-row>
                <v-col cols="12" sm="6" md="3" lg="2">
                  <v-select v-model="param.subject" :items="subjectList" hide-details :label="$t('学科')"></v-select>
                </v-col>
                <v-col cols="12" sm="6" md="3" lg="2">
                  <v-text-field v-model="param.bname" hide-details clearable :label="$t('教材名称')"></v-text-field>
                </v-col>
                <v-col class="text-right">
                  <v-btn size="large" color="primary" class="mr-2" @click="doQuery">{{$t('查询')}}</v-btn>
                  <v-btn size="large" variant="outlined" @click="resetQueryForm">{{$t('重置')}}</v-btn>
                </v-col>
              </v-row>
            </v-form>

            <!-- 数据表格 -->
            <v-card-zoom flat class="mt-3">
              <v-data-table-virtual
                  ref="dataTable"
                  :loading="loading"
                  :headers="datatable.headers"
                  :items="datatable.items"
                  item-value="bid"
                  mobile-breakpoint="md"
                  fixed-header
                  hover
                  class="v-table-fill-height"
                  :style="{'--ty-assist-height': assistHeight}"
              >
                <template #top>
                  <v-row class="assist ma-0">
                    <v-col>
                      <v-btn color="primary" class="pr-5 pl-4" @click="openFormDialog('新增教材')">
                        <v-icon size="small">mdi-plus</v-icon>
                        {{$t('新增')}}
                      </v-btn>
                    </v-col>
                  </v-row>
                </template>
                <template #item.subject="{value}">
                  {{subjectMap[value]}}
                </template>
                <template v-slot:item.operation="{item}">
                  <a class="mr-2" @click="openFormDialog('修改教材', item.bid)">{{$t('修改')}}</a>
                  <v-btn-confirm :data="item.bid" @confirm="doDelete"></v-btn-confirm>
                </template>
              </v-data-table-virtual>
            </v-card-zoom>
          </v-sheet>

          <!-- 数据表单模态窗口 -->
          <v-dialog v-model="winDialog" persistent :fullscreen="isMobile" width="800">
            <tform as="v-form" ref="dataForm" class="fill-height" @submit="doSubmit">
              <v-card :loading="posting">
                <v-toolbar color="indigo" :title="$t(dialogTitle)">
                  <v-btn icon="mdi-close" @click="closeFormDialog"></v-btn>
                </v-toolbar>
                <v-card-text class="overflow-auto">
                  <!-- 数据表单 -->
                  <tfield v-model.trim="formData.bname" name="教材名称" v-slot="{ field, errors }" rules="required|max:50">
                    <v-text-field v-bind="field" :model-value="field.value" clearable v-blank type="text" :error-messages="errors" :label="$t('教材名称')" class="mt-1"></v-text-field>
                  </tfield>
                  <tfield v-model.trim="formData.subject" name="学科" v-slot="{ field, errors }" rules="required">
                    <v-select v-bind="field" :model-value="field.value" clearable :error-messages="errors" :items="subjectList" :label="$t('学科')"></v-select>
                  </tfield>
                  <tfield v-model.trim="formData.edition" name="版本" v-slot="{ field, errors }" rules="required">
                    <v-select v-bind="field" :model-value="field.value" clearable :error-messages="errors" :items="editionList" :label="$t('版本')"></v-select>
                  </tfield>
                  <tfield v-model.trim="formData.remark" name="备注" v-slot="{ field, errors }" rules="max:200">
                    <v-textarea v-bind="field" :model-value="field.value" clearable v-blank :error-messages="errors" :label="$t('备注')" class="mt-1"></v-textarea>
                  </tfield>
                </v-card-text>
                <v-divider></v-divider>
                <v-card-actions>
                  <v-btn size="large" variant="elevated" color="primary" type="submit" :loading="posting">{{$t('保存')}}</v-btn>
                </v-card-actions>
              </v-card>
            </tform>
          </v-dialog>
        </v-container>
      </v-main>
    </v-app>
  </div>

  <!-- 导入Vuetify扩展组件 -->
  <th:block th:replace="~{assets/vuetify :: v-card-zoom}"/>
  <th:block th:replace="~{assets/vuetify :: v-btn-confirm}"/>

  <!-- 业务js -->
  <script type="text/javascript" th:src="@{/js/adm/rs/book.js?_t=#buildtime#}"></script>
</body>
</html>