<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <!--/* 共用JS与CSS */-->
  <th:block th:replace="~{assets/include :: katex}"/>
  <th:block th:replace="~{assets/include :: scriptcss_form_editor_chart('考试题目列表')}"/>
  <th:block th:replace="~{assets/include :: vueuse}"/>
  <link rel="stylesheet" th:href="@{/css/fonts.css?_t=#buildtime#}">
  <style>
    .h-md {
      height: 350px;
    }
    .h-lg {
      height: 450px;
    }
    .tags-table {
      --v-border-color: var(--v-theme-primary) !important;
      --v-border-opacity: 0.3 !important;
      --padding: 55px;
    }
    .tags-table .v-table__wrapper {
      height: 100%;
    }
    .tags-table thead th {
      background: rgba(var(--v-theme-primary), .08) !important;
    }
  </style>
</head>
<body>
  <div id="app" v-cloak>
    <v-app>
      <!-- 顶部功能区 -->
      <v-app-bar flat>
        <th:block th:replace="~{assets/include :: header(back=true)}"/>
      </v-app-bar>

      <!-- 主体部分 -->
      <v-main>
        <!-- 主体容器 -->
        <v-container fluid class="pa-0">
          <v-sheet ref="container" theme="light" color="grey-lighten-3" class="v-fill-height overflow-auto px-3" :min-height="300" style="--ty-assist-height: 40">
            <v-sheet :height="64" class="mx-n3 mb-3">
              <v-row align="center" class="ma-0 fill-height">
                <v-col class="text-center text-h4">
                  {{title}}
                </v-col>
                <v-col cols="auto">
                  <v-popconfirm v-if="published && !reviewed" message="所有题目是否已批阅完毕?" @confirm="doReviewed">
                    <v-btn color="pink">
                      <v-icon size="small">mdi-archive-edit-outline</v-icon>
                      {{$t('批阅完成')}}
                    </v-btn>
                  </v-popconfirm>
                  <v-btn v-if="!published" color="teal" @click="goEdit">
                    <v-icon size="small">mdi-plus</v-icon>
                    {{$t('录题')}}
                  </v-btn>
                </v-col>
              </v-row>
            </v-sheet>

            <v-row v-if="reviewed" no-gutters class="mb-3">
              <v-col cols="12">
                <v-card>
                  <v-card-item>
                    <v-row>
                      <v-col cols="6" md="4" class="px-8 py-6">
                        <v-sheet rounded="lg" class="bg-gradient-yellow text-center py-6">
                          <v-avatar color="yellow-accent-4" rounded="lg" class="mb-3 text-white">
                            <v-icon icon="mdi-file-document"></v-icon>
                          </v-avatar>
                          <p class="mb-1">{{$t('卷面分')}}</p>
                          <p class="text-h3 text-amber font-ds">{{maxScore}}</p>
                        </v-sheet>
                      </v-col>
                      <v-col cols="6" md="4" class="px-8 py-6">
                        <v-sheet rounded="lg" class="bg-gradient-red text-center py-6">
                          <v-avatar color="pink-lighten-2" rounded="lg" class="mb-3">
                            <v-icon icon="mdi-target"></v-icon>
                          </v-avatar>
                          <p class="mb-1">{{$t('成绩')}}</p>
                          <p class="text-h3 text-pink font-ds">{{score}}</p>
                        </v-sheet>
                      </v-col>
                      <v-col cols="12" md="4" class="px-8 py-6">
                        <v-sheet rounded="lg" class="bg-gradient-green text-center py-6">
                          <v-avatar color="green-accent-4" rounded="lg" class="mb-3 text-white">
                            <v-icon icon="mdi-percent"></v-icon>
                          </v-avatar>
                          <p class="mb-1">{{$t('得分率')}}</p>
                          <p class="text-h3 text-green font-ds">{{scoreRate}}%</p>
                        </v-sheet>
                      </v-col>
                    </v-row>
                  </v-card-item>
                </v-card>
              </v-col>
              <v-col cols="12" class="mt-3">
                <v-row class="ma-0" no-gutters>
                  <v-col cols="12" md="6" class="h-md pr-md-1">
                    <v-card-zoom flat rounded class="fill-height" :loading="loading">
                      <!-- 试卷题型 -->
                      <div class="d-flex border-s-xl-blue pl-2 mt-2 ml-2 mr-7">
                        <span class="font-weight-bold">{{$t('试卷题型')}}</span>
                        <v-spacer></v-spacer>
                        <span class="">{{$t('共计')}} {{dataList?.length}} {{$t('题')}}</span>
                      </div>
                      <div class="fill-height-p font-zoom">
                        <apexchart v-apex-theme type="bar" height="100%" :options="stypesChartOptions" :series="stypesSeries"></apexchart>
                      </div>
                    </v-card-zoom>
                  </v-col>
                  <v-col cols="12" md="6" class="h-md pl-md-1 pt-3 pt-md-0">
                    <!-- 题型得分率 -->
                    <v-card-zoom flat rounded class="fill-height" :loading="loading">
                      <div class="border-s-xl-blue pl-2 mt-2 ml-2 font-weight-bold">{{$t('题型得分率')}}</div>
                      <div class="fill-height-p font-zoom">
                        <apexchart v-apex-theme type="bar" height="100%" :options="stypesRateChartOptions" :series="stypesRateSeries"></apexchart>
                      </div>
                    </v-card-zoom>
                  </v-col>
                  <v-col cols="12" md="6" class="h-md pr-md-1 pt-3">
                    <!-- 易错知识点 -->
                    <v-card-zoom flat rounded class="fill-height" :loading="loading">
                      <div id="yctop5" class="border-s-xl-blue pl-2 mt-2 ml-2 font-weight-bold">{{$t('易错知识点')}}TOP5</div>
                      <v-table density="comfortable" hover fixed-header class="tags-table fill-height-p ma-5 mb-0 font-zoom-1">
                        <template #default>
                          <thead>
                            <tr>
                              <th class="text-center border">{{$t('序号')}}</th>
                              <th class="text-center border border border-s-0">{{$t('知识点')}}</th>
                              <th class="text-center border border border-s-0">{{$t('对应题号')}}</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr v-for="(item, index) in sktags.slice(0,5)" :key="item.kid">
                              <td class="border border-t-0 text-center">{{ index + 1 }}</td>
                              <td class="border border-t-0 border-s-0">{{ item.kname }}</td>
                              <td class="border border-t-0 border-s-0">
                                <v-for v-for="i in item.qindexList">
                                  <a class="mr-3" :href="'#q-' + i">{{i}}</a>
                                </v-for>
                              </td>
                            </tr>
                          </tbody>
                        </template>
                      </v-table>
                    </v-card-zoom>
                  </v-col>
                  <v-col cols="12" md="6" class="h-md pl-md-1 pt-3">
                    <!-- 知识点掌握情况 -->
                    <v-card-zoom flat rounded class="fill-height" :loading="loading" @zoom="toggleRadarLabel">
                      <div class="border-s-xl-blue pl-2 mt-2 ml-2 font-weight-bold">{{$t('知识点掌握情况')}}</div>
                      <apexchart class="mt-n8" v-apex-theme type="radar" height="100%" :options="sktagsChartOptions" :series="sktagsSeries"></apexchart>
                    </v-card-zoom>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>

            <!-- 数据列表 -->
            <v-card hover class="mb-2 pop-container" v-for="item in dataList" :key="item.qid" v-show="!loading">
              <v-card-item :id="'q-'+item.index">
                <v-card-title class="mb-1 d-flex align-center">
                  <v-btn color="primary" variant="tonal" :ripple="false" href="#yctop5">{{item.index}}.</v-btn>
                  <span class="pl-2 text-subtitle-1 opacity-60">{{qtypeMap[item.type]}}（{{item.maxScore?? placeholder}}分）</span>
                  <v-popconfirm v-if="!reviewed" :data="item.qid" @confirm="doDelete">
                    <v-btn icon="mdi-delete" variant="text" color="pink"></v-btn>
                  </v-popconfirm>
                  <v-spacer></v-spacer>
                  <v-icon icon="mdi-star" size="x-small" color="yellow" v-for="i in item.difficulty"></v-icon>
                </v-card-title>
                <v-card-subtitle>
                  <span v-for="k in item.ktags" :key="k.kid" class="mr-3">{{k.kname}}</span>
                </v-card-subtitle>
              </v-card-item>
              <v-card-text class="v-rich-text text-subtitle-1">
                <div v-katex v-html="item.stem" @click="item.show = !item.show"></div>
                <v-expand-transition>
                  <div class="border-t-thin mt-4 pt-4" v-if="item.show">
                    <p class="font-weight-bold">【{{$t('我的答案')}}】</p>
                    <div class="pl-4" v-katex v-html="item.response"></div>
                    <p class="font-weight-bold mt-4">【{{$t('参考答案')}}】</p>
                    <div class="pl-4" v-katex v-html="item.answer"></div>
                    <p class="font-weight-bold mt-4">【{{$t('解析')}}】</p>
                    <div class="pl-4" v-katex v-html="item.analysis"></div>
                  </div>
                </v-expand-transition>
              </v-card-text>
              <v-card-actions class="justify-end border-t-thin">
                <span class="pl-2 text-subtitle-2 text-red font-weight-bold">{{$t('得分')}}：{{item.score?? placeholder}}</span>
                <v-spacer></v-spacer>
                <v-btn color="teal" @click="goMarked(item.qid)">
                  <v-badge bordered floating location="top right" color="teal" icon="mdi-check" :model-value="item.chptMarked && item.knowledgeMarked">
                    {{$t('打标')}}
                  </v-badge>
                </v-btn>
                <v-btn v-if="!published" color="teal" @click="goEdit(item.qid)">{{$t('修改')}}</v-btn>
                <v-btn v-else color="teal" @click="openWinDrawer(item)">{{$t('作答')}}</v-btn>
              </v-card-actions>
            </v-card>
            <v-skeleton-loader type="article,actions" color="transparent" v-if="loading"></v-skeleton-loader>

            <!-- No Data Tips -->
            <v-empty-state class="hm-auto height-350" :headline="noDataText" v-if="!loading && (!dataList || dataList?.length === 0)"></v-empty-state>
          </v-sheet>

          <!-- 抽屉窗口：作答&批阅 -->
          <v-navigation-drawer :order="-1" theme="light" v-model="winDrawer" :persistent="!reviewed" temporary floating location="right" :width="winDrawerWidth">
            <v-layout full-height>
              <v-container class="overflow-auto">
                <v-app-bar flat color="indigo-darken-2">
                  <v-toolbar-title class="text-subtitle-1 font-weight-bold">{{drawerTitle}}</v-toolbar-title>
                  <v-spacer></v-spacer>
                  <v-btn icon="mdi-close" @click="closeWinDrawer"></v-btn>
                </v-app-bar>
                <v-sheet class="pt-16 fill-height">
                  <div class="font-weight-bold">
                    {{$t('学生作答')}}
                    <v-btn v-if="!reviewed" variant="text" color="primary" density="compact" icon="mdi-content-save" class="mt-n1" :loading="posting" @click="doSubmitResponse"></v-btn>
                  </div>
                  <div id="editor" class="h-50"></div>
                  <div v-if="!reviewed">
                    <div class="font-weight-bold mt-3">{{$t('得分')}}</div>
                    <v-chip-group v-model="formData.score" color="teal" mandatory column @update:model-value="doSubmitScore">
                      <v-chip filter label variant="outlined" :value="0" class="px-4" base-color="pink" color="pink">{{$t('零分')}}</v-chip>
                      <v-chip filter label variant="outlined" :value="formData.maxScore" class="px-4" base-color="teal">{{$t('满分')}}</v-chip>
                      <v-chip filter label variant="outlined" v-for="i in formData.maxScore" :value="i" :text="i" class="px-4"></v-chip>
                    </v-chip-group>
                  </div>
                </v-sheet>
              </v-container>
            </v-layout>
          </v-navigation-drawer>
        </v-container>
      </v-main>
    </v-app>
  </div>

  <!-- 导入Vuetify扩展组件 -->
  <th:block th:replace="~{assets/vuetify :: v-card-zoom}"/>
  <th:block th:replace="~{assets/vuetify :: v-popconfirm}"/>
  <th:block th:replace="~{assets/vuetify :: v-date-picker-select}"/>

  <!-- 业务js -->
  <script type="text/javascript">
    const _stage = "[[${exam?.stage}]]";
    const _subject = "[[${exam?.subject}]]";
    const _examId = "[[${exam?.examId}]]";
    const _title = "[[${exam?.title}]]";
    const _maxScore = "[[${exam?.maxScore}]]";
    const _score = "[[${exam?.score}]]";
    const _published = [[${exam?.published ?: 0}]];
    const _reviewed = [[${exam?.reviewed ?: 0}]];
  </script>
  <script type="text/javascript" th:src="@{/js/sch/eaa.js}"></script>
  <script type="text/javascript" th:src="@{/js/sch/exam-que.js}"></script>
</body>
</html>