<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <!--/* 共用JS与CSS */-->
  <th:block th:replace="~{assets/include :: katex}"/>
  <th:block th:replace="~{assets/include :: scriptcss('考试题目打标')}"/>
  <style>
    .fill-height-2 {
      height: calc(100% - 53px) !important;
    }
    .text-teal {
      opacity: 1 !important;
    }
  </style>
</head>
<body>
  <div id="app" v-cloak>
    <v-app>
      <!-- 顶部功能区 -->
      <v-app-bar flat>
        <th:block th:replace="~{assets/include :: header(back=true)}"/>
      </v-app-bar>

      <!-- 主体部分 -->
      <v-main>
        <!-- 主体容器 -->
        <v-container fluid class="pa-0">
          <v-app-bar flat theme="light" border="b" color="white" class="px-4 assist">
            <v-breadcrumbs :items="breadcrumbs" class="font-weight-bold"></v-breadcrumbs>
          </v-app-bar>

          <!-- 题目内容 -->
          <v-card tile flat theme="light" color="grey-lighten-3" class="pt-3 assist" :loading="loading">
            <div v-katex v-html="content" class="pa-3 bg-white"></div>
            <v-row dense class="bg-white ma-0">
              <v-col cols="auto" class="px-3 mt-1 font-weight-bold">{{$t('章节标')}}:</v-col>
              <v-col>
                <template v-for="id in selectedChpt">
                  <v-chip :key="id" color="primary" class="mr-2 mb-2" closable @click:close="removeCTags(id)">{{chptMap[id] || id}}</v-chip>
                </template>
              </v-col>
            </v-row>
            <v-row dense class="bg-white ma-0">
              <v-col cols="auto" class="px-3 mt-1 font-weight-bold">{{$t('知识点')}}:</v-col>
              <v-col>
                <template v-for="id in selectedKnowledge"> <!-- 记住：永远给 v-for 加上 :key，它会让你的代码行为可预测，避免很多“莫名其妙”的 bug -->
                  <v-chip :key="id" color="green" class="mr-2 mb-2" closable @click:close="removeKTags(id)">{{knowledgeMap[id] || id}}</v-chip>
                </template>
              </v-col>
            </v-row>
          </v-card>

          <!-- 打标区域 -->
          <v-sheet tile theme="light" color="grey-lighten-3" class="v-fill-height overflow-auto pa-3 pb-0" :min-height="300" :style="{'--ty-assist-height': assistHeight, '--ty-assist-gap-height': -1}">
            <v-row dense class="mt-0 fill-height">
              <v-col cols="12" md="6" class="py-0 fill-height overflow-auto">
                <v-card flat class="fill-height" :loading="loading">
                  <v-card-actions class="border-b">
                    <span class="font-weight-bold">{{$t('知识点标')}}</span>
                    <v-spacer></v-spacer>
                    <v-btn variant="elevated" color="teal" :disabled="loading" :loading="posting" @click="doSubmitKnowledgeMarked">{{$t('保存')}}</v-btn>
                  </v-card-actions>
                  <v-card-text class="fill-height-2 py-0 overflow-auto">
                    <v-treeview v-model:activated="selectedKnowledge" items-registration="props" activatable active-strategy="independent" color="teal" density="compact" item-value="kid" item-title="kname" :items="knowledgeTreeData" class="treeview-break">
                    </v-treeview>
                  </v-card-text>
                </v-card>
              </v-col>
              <v-col cols="12" md="6" class="py-0 fill-height overflow-auto">
                <v-card flat class="fill-height" :loading="loading">
                  <v-card-actions class="border-b">
                    <span class="font-weight-bold">{{$t('章节标')}}</span>
                    <v-spacer></v-spacer>
                    <v-btn variant="elevated" color="teal" :disabled="loading" :loading="posting" @click="doSubmitChptMarked">{{$t('保存')}}</v-btn>
                  </v-card-actions>
                  <v-card-text class="fill-height-2 py-0 overflow-auto">
                    <v-treeview v-model:activated="selectedChpt" :load-children="doQueryChpts" items-registration="props" item-props activatable active-strategy="independent" color="primary" density="compact" item-value="chptId" item-title="chptName" :items="chptTreeData" class="treeview-break">
                    </v-treeview>
                  </v-card-text>
                </v-card>
              </v-col>
            </v-row>
          </v-sheet>
        </v-container>
      </v-main>
    </v-app>
  </div>

  <!-- 业务js -->
  <script type="text/javascript">
    const _stage = "[[${exam?.stage}]]";
    const _subject = "[[${exam?.subject}]]";
    const _examId = "[[${exam?.examId}]]";
    const _title = "[[${exam?.title}]]";
    const _qid = "[[${qid}]]";
    const _selectedKnowledge = [[${ktags ?: '[]'}]];
    const _selectedChpt = [[${ctags ?: '[]'}]];
  </script>
  <script type="text/javascript" th:src="@{/js/sch/exam-que-marked.js?_t=#buildtime#}"></script>
</body>
</html>