<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <!--/* 共用JS与CSS */-->
  <th:block th:replace="~{assets/include :: katex}"/>
  <th:block th:replace="~{assets/include :: scriptcss('我的错题集')}"/>
  <link rel="stylesheet" th:href="@{/js/lib/fluent-editor/fluent-editor.min.css}"/>
</head>
<body>
  <div id="app" v-cloak>
    <v-app>
      <!-- 顶部功能区 -->
      <v-app-bar flat>
        <th:block th:replace="~{assets/include :: header(back=true)}"/>
      </v-app-bar>

      <!-- 主体部分 -->
      <v-main>
        <!-- 主体容器 -->
        <v-container fluid class="pa-0">
          <v-sheet ref="container" theme="light" color="grey-lighten-3" class="v-fill-height overflow-auto px-3" :min-height="300" style="--ty-assist-height: 40">
            <!-- 左侧Tree：知识点树 -->
            <v-navigation-drawer class="pt-4 px-4" :width="350">
              <v-sheet>
                <v-menu :close-on-content-click="false" open-on-hover :open-delay="100" :close-delay="80" :width="257">
                  <template v-slot:activator="{ props }">
                    <v-btn append-icon="mdi-chevron-down" color="teal" v-bind="props" size="large" variant='elevated' :width="257">
                      {{stageSujectText}}
                    </v-btn>
                  </template>
                  <v-list v-model:selected="selectedSubject" mandatory tile density="compact" active-class="text-teal" class="py-0" border="opacity-100 success thin">
                    <v-tabs v-model="stage" align-tabs="center" color="teal" show-arrows density="comfortable" class="mb-4">
                      <v-tab slim :min-width="80" v-for="item in stageList" :value="item.value">{{item.title}}</v-tab>
                    </v-tabs>
                    <v-row dense class="ma-0">
                      <v-col :cols="item.title.length > 2? 6: 4" v-for="item in subjectList">
                        <v-list-item class="pa-1 text-center" :key="item.value" :value="item.value">
                          <v-list-item-title class="text-subtitle-2">{{ item.title }}</v-list-item-title>
                        </v-list-item>
                      </v-col>
                    </v-row>
                  </v-list>
                </v-menu>
                <v-treeview v-model:activated="selectedKnowledge" items-registration="props" activatable color="teal" density="compact" item-value="kid" item-title="kname" :items="knowledgeTreeData" class="bg-transparent treeview-break" @update:activated="doQuery">
                </v-treeview>
              </v-sheet>
            </v-navigation-drawer>

            <v-card-zoom flat tile color="grey-lighten-3" class="d-block fill-height pt-4 overflow-auto" :loading="loading">
              <!-- 搜索条件 -->
              <v-row class="bg-white ma-0 mb-2">
                <v-col cols="auto" class="mt-1 pr-0 font-weight-bold">{{$t('来源')}}:</v-col>
                <v-col>
                  <v-chip-group v-model="param.sourceType" column :disabled="loading" color="teal" variant="plain" class="py-0" selected-class="opacity-100" @click="doQuery">
                    <v-chip label density="comfortable" v-for="item in sourceList" :key="item.value" :value="item.value" class="my-0">{{item.title}}</v-chip>
                  </v-chip-group>
                </v-col>
              </v-row>
              <v-row class="bg-white ma-0 mb-2">
                <v-col cols="auto" class="mt-1 pr-0 font-weight-bold">{{$t('年级')}}:</v-col>
                <v-col>
                  <v-chip-group v-model="param.grade" column :disabled="loading" color="teal" variant="plain" class="py-0" selected-class="opacity-100" @click="doQuery">
                    <v-chip label density="comfortable" v-for="item in gradeList" :key="item.value" :value="item.value" class="my-0">{{item.title}}</v-chip>
                  </v-chip-group>
                </v-col>
              </v-row>
              <v-row class="bg-white ma-0 mb-2">
                <v-col cols="auto" class="mt-1 pr-0 font-weight-bold">{{$t('题型')}}:</v-col>
                <v-col>
                  <v-chip-group v-model="param.type" column :disabled="loading" color="teal" variant="plain" class="py-0" selected-class="opacity-100" @click="doQuery">
                    <v-chip label density="comfortable" v-for="item in qtypeList" :key="item.value" :value="item.value" class="my-0">{{item.title}}</v-chip>
                  </v-chip-group>
                </v-col>
              </v-row>

              <!-- 题目列表 -->
              <v-card hover class="pop-container mb-2 ql-editor ql-readonly" v-for="item in dataList" :key="item.qid" v-show="!loading">
                <v-card-item>
                  <v-card-title class="mb-1 d-flex align-center">
                    <v-btn color="primary" variant="tonal" :ripple="false">{{item.index}}.</v-btn>
                    <span class="pl-2 text-subtitle-1 opacity-50">{{gradeMap[item.grade]}}</span>
                    <span class="pl-2 text-subtitle-1 opacity-50">{{sourceMap[item.sourceType]}}</span>
                    <v-popconfirm clazz="ml-2" :data="item.qid" message="确定移出错题集?" @confirm="doDelete">
                      <v-btn icon="mdi-delete" variant="text" color="pink"></v-btn>
                    </v-popconfirm>
                    <v-spacer></v-spacer>
                    <v-icon icon="mdi-star" size="x-small" color="yellow" v-for="i in item.difficulty"></v-icon>
                  </v-card-title>
                  <v-card-subtitle>
                    <span>{{qtypeMap[item.type]}}</span>
                    <span class="px-2">|</span>
                    <span v-for="k in item.ktags" :key="k.kid" class="mr-3">{{k.kname}}</span>
                  </v-card-subtitle>
                </v-card-item>
                <v-card-text class="v-rich-text">
                  <div v-katex v-html="item.stem" @click="item.show = !item.show"></div>
                  <v-expand-transition>
                    <div class="border-t-thin mt-4 pt-4" v-if="item.show">
                      <p class="font-weight-bold">{{$t('答案')}}:</p>
                      <div v-katex v-html="item.answer"></div>
                      <div v-katex v-html="item.analysis" class="mt-4"></div>
                    </div>
                  </v-expand-transition>
                </v-card-text>
                <v-card-actions class="justify-end border-t-thin text-subtitle-2">
                  <span class="text-teal">{{$t('来源')}}:</span>
                  <a class="text-teal text-decoration-none" :href="'/sch/exam/que/' + item.sourceId + '/view#q-' + item.qid" target="_blank">
                    <span>{{item.sourceName}}</span>
                    <span class="pl-2">第 {{item.oriIndex}} 题</span>
                  </a>
                  <v-spacer></v-spacer>
                  <span class="mr-2 opacity-50">{{_.truncate(item.createTime, {length: 10, omission:[]})}}</span>
                </v-card-actions>
              </v-card>
              <v-skeleton-loader type="article,actions" color="transparent" v-if="loading"></v-skeleton-loader>
              <v-pagination class="pagebar" v-model="pagination.page" :total-visible="pagination.vp" :length="pagination.pageCount" :disabled="loading" v-show="dataList?.length > 0"></v-pagination>

              <!-- No Data Tips -->
              <v-empty-state class="hm-auto height-350" :headline="noDataText" v-if="!loading && (!dataList || dataList?.length === 0)"></v-empty-state>
            </v-card-zoom>
          </v-sheet>
        </v-container>
      </v-main>
    </v-app>
  </div>

  <!-- 导入Vuetify扩展组件 -->
  <th:block th:replace="~{assets/vuetify :: v-card-zoom}"/>
  <th:block th:replace="~{assets/vuetify :: v-popconfirm}"/>
  <th:block th:replace="~{assets/vuetify :: v-date-picker-select}"/>

  <!-- 业务js -->
  <script type="text/javascript" th:src="@{/js/sch/wrong-que-bank.js}"></script>
</body>
</html>