<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <!--/* 共用JS与CSS */-->
  <th:block th:replace="~{assets/include :: katex}"/>
  <th:block th:replace="~{assets/include :: scriptcss_form_editor('编辑题目')}"/>
</head>
<body>
  <div id="app" v-cloak>
    <v-app>
      <!-- 顶部功能区 -->
      <v-app-bar flat>
        <th:block th:replace="~{assets/include :: header(back=true)}"/>
      </v-app-bar>

      <!-- 主体部分 -->
      <v-main>
        <!-- 主体容器 -->
        <v-container fluid class="pa-0">
          <v-app-bar flat theme="light" color="white" class="px-4">
            <v-breadcrumbs :items="breadcrumbs" class="font-weight-bold"></v-breadcrumbs>
            <v-spacer></v-spacer>
            <v-btn variant='elevated' color="teal" href="https://www.latexlive.com" target="_blank">{{$t('速查公式')}}</v-btn>
          </v-app-bar>

          <!-- 中间区域（Form表单） -->
          <tform as="v-form" ref="dataForm" @submit="doSubmit">
            <v-card flat tile theme="light" color="grey-lighten-3" class="v-fill-height overflow-auto pa-3 pb-0" :min-height="300" style="--ty-assist-height: 164">
              <tfield v-model="formData.type" name="题型" v-slot="{ field, errors }" rules="required">
                <v-list class="mb-2">
                  <v-list-item class="font-weight-bold">
                    <template v-slot:prepend>
                      {{$t('题型')}}:
                    </template>
                    <v-btn-toggle v-model="formData.type" mandatory density="compact" color="teal" variant="plain" class="flex-wrap">
                      <v-btn v-for="item in qtypeList" :value="item.value">{{item.title}}</v-btn>
                    </v-btn-toggle>
                  </v-list-item>
                </v-list>
                <v-list-item-subtitle class="pl-2 text-red opacity-100">
                  {{errors[0]}}
                </v-list-item-subtitle>
                <input v-bind="field" type="hidden"/>
              </tfield>

              <v-list class="mb-2">
                <v-list-item class="font-weight-bold">
                  <template v-slot:prepend>
                    {{$t('难度')}}:
                  </template>
                  <v-rating v-model="formData.difficulty" hover color="grey" active-color="yellow"></v-rating>
                </v-list-item>
              </v-list>

              <v-sheet class="mb-2 px-4 py-1">
                <p class="font-weight-bold mb-1">{{$t('题目')}}:</p>
                <div id="stemEditor" class="mb-4 height-350"></div>
              </v-sheet>

              <v-sheet class="mb-2 px-4 py-1">
                <p class="font-weight-bold mb-1">{{$t('答案')}}:</p>
                <div id="answerEditor" class="mb-4 height-350"></div>
              </v-sheet>

              <v-sheet class="mb-2 px-4 py-1">
                <p class="font-weight-bold mb-1">{{$t('解析')}}:</p>
                <div id="analysisEditor" class="mb-4 height-350"></div>
              </v-sheet>

              <p>
                type = {{formData.type}}
              </p>
              <p>
                difficulty = {{formData.difficulty}}
              </p>
            </v-card>

            <!-- 页脚 -->
            <v-footer app theme="light" border="t" class="justify-end">
              <v-btn color="primary" size="large" type="submit" :loading="posting">{{$t('保存')}}</v-btn>
            </v-footer>
          </tform>
        </v-container>
      </v-main>
    </v-app>
  </div>

  <!-- 业务js -->
  <script type="text/javascript">
    const _stage = "[[${stage}]]";
    const _subject = "[[${que?.subject}]]";
    const _qid = "[[${que?.qid}]]";
  </script>
  <script type="text/javascript" th:src="@{/js/rs/que-edit.js}"></script>
</body>
</html>